<form action="/api/routine/create" method="POST">
    <h5>Create New Routine</h5>
    <button type="button" class="close-form-button">x</button>
    <section class="input-section">
        <label for="routineName">Routine Name</label>
        <input id="routineName"
        name="name"
        type="text"
        maxlength="50"
        placeholder="Enter routine name here"
        required>
    </section>
    <section class="input-section">
        <label for="routineDescription">Routine Description</label>
        <textarea id="routineDescription"
        name="description"
        maxlength = "250"
        placeholder = "Enter routine description here"
        spellcheck = "true"
        ></textarea>
    </section>
    <section class="input-section">
        <label for="startDate">Starting Date</label>
        <input id="startDate"
        name="startDate"
        type="date"
        required>
    </section>
    <section>
        <label for="step">Every:</label>
        <input id="step"
        name="step"
        type="number"
        min="1"
        required>
        <select name="timeUnit" required>
            <option value="">Choose time unit</option>
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
        </select>
    </section>
    <section>
    <section id="new-task-form-container">
        <section class="task-form">
            <h5>Add new task</h5>
            <section class="input-section">
                <label for="name">Name</label>
                <input id=""
                name="habitName"
                type="text"
                maxlength="50"
                placeholder="Enter name here"
                required>
            </section>
            <section class="input-section">
                <label for="description">Description</label>
                <textarea id="description"
                name="habitDescription"
                maxlength = "250"
                placeholder = "Enter description here"
                spellcheck = "true"></textarea>
            </section>
            <section class="input-section">
                <label for="startTime">Start Time</label>
                <input id="startTime"
                name="startTime"
                type="time"
                required>
            </section>
            <section class="input-section">
                <label for="endTime">End Time</label>
                <input id="endTime"
                name="endTime"
                type="time"
                required>
            </section>
        </section>
    </section>
    <button id="add-new-task-button" type="button">Add A Task</button>
    <section>
        <button type="submit">Create Routine</button>
    </section>
</form>