<% console.log("lmao",locals) %>
<form id=<%=id%> action=<%=action%> method="POST">
    <% console.log("Console") %>
    <h5>Create new task</h5>
    <button type="button" class="close-form-button">x</button>
    <section>
        <label for="name">Name</label>
        <input id=""
        name="name"
        type="text"
        maxlength="50"
        placeholder="Enter name here"
        required>
    </section>
    <section>
        <label for="description">Description</label>
        <textarea id="description"
        name="description"
        maxlength = "250"
        placeholder = "Enter description here"
        spellcheck = "true"></textarea>
    </section>
    <section>
        <label for="date">Date</label>
        <input id="date"
        name="date"
        type="date"
        required>
    </section>
    <section>
        <label for="startTime">Start Time</label>
        <input id="startTime"
        name="startTime"
        type="time">
    </section>
    <section>
        <label for="endTime">End Time</label>
        <input id="endTime"
        name="endTime"
        type="time">
    </section>
    <section class="hidden">
        <input type="text" name="userDate" value="<%=(new Date()).toISOString()%>">
    </section>
    <section>
        <button type="submit">Create Task</button>
    </section>
</form>