<section class="nav-section">

    <nav>

        <ul>
            <li>
                <a href="/users/settings">User Settings</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/goals">Goals</a>
            </li>
            <li>
                <a href="/tasks">Tasks</a>
            </li>
            <li>
                <a href="/routines">Routines</a>
            </li>
        </ul>

    </nav>

    <footer>

        <span>Made by Tyler Perata</span>

    </footer>

</section>