<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="app-body">

    <%- include("./partials/navbar") %>

    <section class="app-section">
        <header class="app-header">
            <h1>Dashboard</h1>
        </header>
        
        <main class="app-content">
            <% const todaysTasks = tasks.filter(x => x.date.getDate() == (new Date()).getDate()); %>
            <section class="todays-tasks">
                <% if(todaysTasks.length) { %>
                    <% for(let i = 0; i < todaysTasks.length; ++i) { %>
                        <section>
                            <h5><%= todaysTasks[i].name %></h5>
                        </section>
                    <% } %>
                <% }else{ %>
                    <h5>No Tasks To Display</h5>
                <% } %>
            </section>
        </main>
    </section>
    
<script src="/js/main.js"></script>
</body>
</html>