<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="app-body">
    
    <%- include("./partials/navbar") %>

    <section class="app-section">

        <header class="app-header">
            <h1>Goals</h1>
        </header>

        <main class="app-content">
            <!--Options-->
            <ul class="app-options">
                <li>
                    <button class="open-button" type="button">Create New Goal</button>
                    <section class="overlay hidden">
                        <%- include("./partials/create-goal-form.ejs", {id:"", className: "", action:"/api/goal/create"}) %>
                    </section>
                </li>
            </ul>

            <%- include("./partials/alerts.ejs") %>

            <!--App Functionality-->
            <% if(goals.length) { %>
                <section class="card-display">
                    <% for(let i = 0; i < goals.length; ++i) { %>
                        <%- include("./partials/goal-card.ejs", {goal: goals[i]}) %>
                    <% } %>
                </section>
            <%}else{%>
                <p>No goals to display</p>
            <%}%>

        </main>

    </section>
<script src="/js/main.js"></script>
</body>
</html>