<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="app-body">
    
    <%- include("./partials/navbar") %>

    <section class="app-section">

        <header class="app-header">
            <h1>Goals</h1>
        </header>

        <main class="app-content">
            <!--Options-->
            <ul class="app-options">
                <li>
                    <button class="open-button" type="button">Create New Goal</button>
                    <section class="overlay hidden">
                        <form
                        action="/api/goal/create"
                        method="POST"
                        >

                            <!--Goal Name-->
                            <section>
                                <h6>What is your goal?</h6>
                                <label for="name">Enter your goal:</label>
                                <input
                                id="name"
                                name="name"
                                type="text"
                                maxlength="50"
                                placeholder="Enter your goal here"
                                required>
                            </section>

                            <!--Goal Description-->
                            <section>
                                <h6>What are some details associated with this goal?</h6>
                                <label for="description">Enter description:</label>
                                <textarea
                                id="description"
                                name="description"
                                maxlength="250"
                                placeholder="Enter description here"></textarea>
                            </section>

                            <!--Starting Date-->
                            <section>
                                <h6>When do you expect to start working on this goal?</h6>
                                <label for="startDate">Enter start date:</label>
                                <input
                                id="startDate"
                                name="startDate"
                                type="date"
                                placeholder="Enter starting date here">
                            </section>

                            <!--Estimated End Date-->
                            <section>
                                <h6>When do you expect to realistically finish working on this goal? Try not to underestimate how long it while take.</h6>
                                <label for="startDate">Enter estimated end date:</label>
                                <input
                                id="endDate"
                                name="endDate"
                                type="date"
                                placeholder="Enter ending date here">
                            </section>

                            <!--Other Goal Participants-->

                            <!--Goal Location-->

                            <h6>In the next step, you will add subgoals, routines, habits, or tasks that are required to complete the goals.</h6>

                            <section>
                                <button type="submit">Create Goal</button>
                            </section>

                        </form>
                    </section>
                </li>
            </ul>

            <%- include("./partials/alerts.ejs") %>

            <!--App Functionality-->
            <% if(goals.length) { %>
                <section class="card-display">
                    <% for(let i = 0; i < goals.length; ++i) { %>
                        <%- include("./partials/goal-card.ejs", {goal: goals[i]}) %>
                    <% } %>
                </section>
            <%}else{%>
                <p>No goals to display</p>
            <%}%>

        </main>

    </section>
<script src="/js/main.js"></script>
</body>
</html>