<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="app-body">

    <!--Nav on left-->
    <%- include("./partials/navbar.ejs") %> 

    <!--App Content on right-->
    <section class="app-section">

        <header class="app-header">
            <!--App Header-->
            <h1>Habits</h1>
        </header>

        <main class="app-content">
            <!--App Content-->
            <!--Options-->
            <ul class="app-options">
                <li>
                    <button class="open-button" type="menu">Create New Habit</button>
                    <section class="overlay hidden">
                        <%- include("./partials/create-habit-form.ejs", {id:"", className:"", action:"/api/habit/create"}) %>
                    </section>
                </li>
            </ul>

            <!--Alerts-->
            <%- include("./partials/alerts.ejs") %>
            
            <!--Display-->
            <section class="app-display">
                <% if(habits.length) { %>
                <section class="card-display">
                <% for(let i = 0; i < habits.length; ++i) { %>
                    <%- include("./partials/habit-card.ejs", {habit: habits[i]}) %>
                <% } %>
                </section>
            <% }else{%>
                <h5>No habits</h5>
            <% } %>
            </section>

            <!--No card? Display this instead-->
        </main>

    </section>
    
<script src="/js/main.js"></script>
</body>
</html>