<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        <% if(habits.length) { %>
            <% for(let i = 0; i < habits.length; ++i) { %>
                <section>
                    <span><%=habits.name%></span>
                </section>
            <% } %>
        <% }else{%>
            <h2>No habits</h2>
        <% } %>
    </section>

    <form action="/api/habit/create" method="POST">
        <h2>Create new habit</h2>
        <section>
            <label for="name">Name</label>
            <input id=""
            name="name"
            type="text"
            maxlength="50"
            placeholder="Enter name here"
            required>
        </section>
        <section>
            <label for="description">Description</label>
            <textarea id="description"
            name="description"
            maxlength = "250"
            placeholder = "Enter description here"
            spellcheck = "true"
            >
            </textarea>
        </section>
        <section>
            <label for="startDate">Starting Date</label>
            <input id="startDate"
            name="startDate"
            type="date"
            required>
        </section>
        <section>
            <label for="endDate">Ending Date</label>
            <input id="endDate"
            name="endDate"
            type="date"
            required>
        </section>
        <section>
            <label for="step">Every:</label>
            <input id="step"
            name="step"
            type="number"
            min="1"
            max="100"
            required>
            <select name="timeUnit" required>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </section>
        <section>
            <label for="startTime">Start Time</label>
            <input id="startTime"
            name="startTime"
            type="time">
        </section>
        <section>
            <label for="endTime">End Time</label>
            <input id="endTime"
            name="endTime"
            type="time">
        </section>
        <section>
            <button type="submit">Create Task</button>
        </section>

    </form>
    
</body>
</html>