<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>

        <section id="info">
            <h1>Life Manager</h1>
            <p>Take back control of your life with the smart planning app</p>
        </section>

        <section id="call-to-action">
            <section>
                <h2>Life Manager Helps You:</h2>
                <ul>
                    <li>Create achievable, SMART Goals</li>
                    <li>Set and track tasks</li>
                    <li>Follow routines and get things done</li>
                </ul>
            </section>
                <section>
                    <h2>Get Started Here:</h2>
                    <a href="/users/signup">Create an Account</a>
                </section>
                <section>
                    <h2>Already have an Account?</h2>
                    <a href="/users/signin">Sign In</a>
                </section>
            <section>

            </section>
        </section>

    </main>
    
</body>
</html>