<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="app-body">
    
    <%- include("./partials/navbar") %>

    <section class="app-section">

        <header class="app-header">
            <h1>Routines</h1>
        </header>

        <main class="app-content">
            <!--Options-->
            <ul class="app-options">
                <li>
                    <button class="open-button" type="menu">Create New Routine</button>
                    <section class="overlay hidden">
                        <%-include("./partials/create-routine-form.ejs")%>
                    </section>
                </li>
            </ul>

            <%- include("./partials/alerts.ejs") %>

            <!--App Functionality-->
            <section class="app-display">
                <% if(routines.length) { %>
                    <section class="card-display">
                        <% for(let i = 0; i < routines.length; ++i) { %>
                            <%-include("./partials/routine-card.ejs", {routine: routines[i]})%>
                        <% } %>
                    </section>
                <%}else{ %>
                    <p>No routines to display.</p>
                <% } %>
            </section>
            

        </main>

    </section>
<script src="/js/main.js"></script>
</body>
</html>