* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    font-family: Arial, Helvetica, sans-serif;
}

/*
    COLOR PALETTE
    Yellow: #fbe7c6
    Mint: #b4f8c8
    Tiffany Blue: #a0e7e5
    Hot Pink: #ffaebc
*/

header {
    position: relative;
    padding: 1rem 2rem;
    width: 100%;
}

body {

}

body, main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

main {
    width: 100%;
}

main > * {
    width: 100%;
}

/* Main Header */
h1 {
    font-size: 10rem;
    font-weight: bold;
    border-bottom: 3px solid;
    margin-bottom: 2rem;
}

/* Sub-main Header */
h2 {

}


/* Error Header */
h4 {

}

/* Form/Element Header */
h5 {
    font-size: 2rem;
    border-bottom: 3px solid;

    margin-bottom: 1rem;
}

p, span {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
span {
    display: inline-block;
}

form {
    background: #eee;
    border-radius: 10px;

    padding: 1rem 2rem;
    width: 90%;
}
form section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.button-form {
    background: none;
    padding: none;
    width: auto;
}

input {
    padding: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

button {
    padding: 1rem 2rem;
}
button:hover {
    cursor: pointer;
}

#options {
    width: 90%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#options li {
    margin-left: 1rem;
}

#alerts {

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    background: rgba(240, 240, 240, 0.7);

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99;
}

/*
    Card Display
*/
.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: 1rem 2rem;
    border: 3px solid;
}

.card-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    padding: 1rem;
}

.info{
    width: 60%;
}
.options {
    width: 30%;
}
.options form, .options > button {
    width: 100%;
    margin-bottom: 0.5rem;
}
.options form button {
    width: 100%;
}
.card > form {
    width: 90%;
}

/*
    Navigation Menu and Open Button
*/
.nav-section {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    width: 30%;
    z-index: 98;

    background: #eee;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-open {
    transform: translateX(0);
}
.nav-section ul {
    width: 100%;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nav-section ul li {
    width: 100%;
    margin-bottom: 1rem;
}
.nav-section ul li a {
    font-size: 2rem;
    padding: 1rem 3rem;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;

    background-image: linear-gradient(#1095c1,#1095c1);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
}
.nav-section ul li a:hover {
    background-size: 100% 100%;
}

.nav-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
    bottom: 1rem;
    left: 1rem;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;


    transition-duration: 0.5s;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 2px;
    border-radius: 100%;
    background: #eee;
    border: 4px solid black;
}
.nav-btn .icon-circle:hover {
    background: #fff;
}
.nav-btn .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #212121;
    border-radius: 4px;
}
.nav-btn .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -10px;
    border-radius: 4px;
}
.nav-btn .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: 10px;
    border-radius: 4px;
}
.nav-btn.open .icon-circle {
    background: #fff;
}
.nav-btn.open .icon {
    transition-duration: 0.5s;
    background: transparent;
}
.nav-btn.open .icon:before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.nav-btn.open .icon:after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
.nav-btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}