* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#task-display {

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 1rem 2rem;
    border: 3px solid;
}

.card-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

header {
    position: relative;

    border: 1px solid;
}

/*
    Navigation Menu and Open Button
*/
.nav-section {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    transition: transform 250ms ease-in-out;
    z-index: 98;

    background: #eee;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav-open {
    transform: translateX(0);
}
.nav-section ul {
    width: 100%;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nav-section ul li {
    width: 100%;
    border: 1px solid;
}
.nav-section ul li a {
    font-size: 2rem;
    padding: 1rem 3rem;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;

    --c: #1095c1;
    line-height: 1.2em;
    background:
      conic-gradient(from -135deg at 100%  50%, var(--c) 90deg, #0000 0) 
        0  var(--p, 0%) / var(--s, 0%) 200% no-repeat,
      conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 
        100% var(--p, 0%) / var(--s, 0%) 200% no-repeat;
    transition: .4s, background-position 0s;
  }
  .nav-section ul li a:hover {
    --p: 100%;
    --s: calc(50% + .6em);
  }

.nav-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
    bottom: 1rem;
    left: 1rem;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;


    transition-duration: 0.5s;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 2px;
    border-radius: 100%;
    background: #eee;
    border: 4px solid black;
}
.nav-btn .icon-circle:hover {
    background: #fff;
}
.nav-btn .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #212121;
    border-radius: 4px;
}
.nav-btn .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -10px;
    border-radius: 4px;
}
.nav-btn .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: 10px;
    border-radius: 4px;
}
.nav-btn.open .icon-circle {
    background: #fff;
}
.nav-btn.open .icon {
    transition-duration: 0.5s;
    background: transparent;
}
.nav-btn.open .icon:before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.nav-btn.open .icon:after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
.nav-btn:hover {
    cursor: pointer;
}