<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>

    <section class="card">
        <h1>Sign In</h1>
        <%- include("../partials/alerts.ejs") %>
        <form action="/users/authenticate" method="POST">
            <section>
                <label for="email">Email:</label>
                <input id="email"
                 name="email"
                 type="email"
                 maxlength="50"
                 placeholder="Enter email here"
                 autocomplete="email"
                 required>
            </section>
            <section>
                <label for="password">Password:</label>
                <input id="password"
                 name="password"
                 type="password"
                 minlength="8"
                 maxlength="50"
                 placeholder="Enter password here"
                 autocomplete="current-password"
                 required>
            </section>
            <section>
                <button type="submit">Sign In</button>
            </section>
        </form>
        <ul>
            <li>
                <p>Forget your password?</p>
                <a href="/users/forgotPassword">Change password here</a>
            </li>
            <li>
                <p>Don't have an account?</p>
                <a href="/users/signup">Sign up here</a>
            </li>
        </ul>
    </section>
<script src="/js/main.js"></script>
</body>
</html>